<!-- <h1>
  Inside App Component.
</h1>

<app-first></app-first>
<app-second></app-second> -->

<!-- <h2>
  My Name is {{name}} .
  My age is {{age}}.
</h2>


<app-marvellous></app-marvellous>
<app-marvellous></app-marvellous>
<app-marvellous></app-marvellous> -->


<!-- <h1>Event Binding Started</h1>

<app-event></app-event>
<app-style-binding></app-style-binding>
<app-class-binding></app-class-binding>
<app-ng-for></app-ng-for>
<app-ng-if></app-ng-if>
<app-ng-switch></app-ng-switch>

<h3>Inside Parent Component</h3>
<app-child [Data] = "Message"></app-child>

<h3>Inside Parent Component</h3>
<app-parent (Myevent) = "Msg = $event"></app-parent>
<h1>Message form child: {{Msg}}</h1>

<app-two-way-data-binding></app-two-way-data-binding> -->

<h1>Without Service</h1>

<app-batchlist></app-batchlist>
<app-batchdetails></app-batchdetails>


<h1>With Service</h1>

<app-wserv-batchlist></app-wserv-batchlist>
<app-wserv-batchdetails></app-wserv-batchdetails>


<h1>Bootstrap Demo</h1>
<div style="text-align: center;">
  <h1>
    Welcome to Marvellous Infosystems!
  </h1>
  <alert type="success">Marvellous Infosystems</alert>
</div>