*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 90%;
    margin: auto;
}

.heading-logo{
    display: flex;
    width: 80%;
    margin: auto;
}

.heading{
    margin: 2rem 4rem;
    text-align: center;
}

.title{
    color: #D059BC;
}

.logo{
    width: 20%;
    margin-top: 1rem;
}

.logo img{
    width: 100%;
}

.contact-heading{
    text-align: center;
    margin-top: 2rem;
}

.contact-heading h3{
    font-weight: 500;
    margin-bottom: 1rem;
}

form{
    margin-top: 4rem;
    font-weight: bold;
    font-size: 1.2em;
}

strong{
    color: #D059BC;
    font-size: 1.5rem;
}

.first-name{
    width: 45%;
    font-weight: normal;
}

.small{
    margin-top: 1rem;
}

.small input{
    height: 3rem;
    border: 1px solid rgb(153, 149, 149);
}

.input-name{
    display: flex;
    width: 70%;
    justify-content: space-between;
}

button{
    padding: 0.5rem 2rem;
    background-color: #e749cc;
    border: none;
    border-radius: 0;
    margin: 4rem 30rem;
}

.lastname{
    color: white;
}