<!-- <h1>Marvellous Knowledge Sharing Portal</h1>

<h2>Select the below option</h2>
<nav>
  <a routerLink="/batches" style="padding: 5px;">Batches</a>
  <a routerLink="/subjects" style="padding: 5px;">Subjects</a>
  <a routerLink="/aboutus" style="padding: 5px;">About Us</a>
</nav>
<router-outlet></router-outlet>       <!--Placeholder-->

<!-- <h1>*** Boostrap Demo ***</h1>

<ul ngbNav #nav="ngbNav" class="nav-tabs">
  <li ngbNavItem>
    <a ngbNavLink>First</a>
    <ng-template ngbNavContent>First content</ng-template>
  </li>
  <li ngbNavItem>
    <a ngbNavLink>Second</a>
    <ng-template ngbNavContent>Second content</ng-template>
  </li>
</ul>
<div [ngbNavOutlet]="nav"></div>

<p>
  <ngb-alert [dismissible]="false">
    <strong>Warning!</strong> Better check yourself, you're not looking too good.
  </ngb-alert>
</p>


<p *ngFor="let alert of alerts">
  <ngb-alert [type]="alert.type" (closed)="close(alert)">{{ alert.message }}</ngb-alert>
</p>
<p>
  <button type="button" class="btn btn-primary" (click)="reset()">Reset</button>
</p>

<ngb-datepicker #d></ngb-datepicker>

<input type="text" ngbDatepicker #d="ngbDatepicker"/>

<ngb-carousel *ngIf="images">
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img [src]="images[0]" alt="Random first slide">
    </div>
    <div class="carousel-caption">
      <h3>First slide label</h3>
      <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img [src]="images[1]" alt="Random second slide">
    </div>
    <div class="carousel-caption">
      <h3>Second slide label</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img [src]="images[2]" alt="Random third slide">
    </div>
    <div class="carousel-caption">
      <h3>Third slide label</h3>
      <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
    </div>
  </ng-template>
</ngb-carousel> -->

<!-- <h1>*** Material Design Demo ***</h1>

<section>
  <div class="example-label">Basic</div>
  <div class="example-button-row">
    <button mat-button>Basic</button>
    <button mat-button color="primary">Primary</button>
    <button mat-button color="accent">Accent</button>
    <button mat-button color="warn">Marvellous</button>
    <button mat-button disabled>Disabled</button>
    <a mat-button href="https://www.google.com/" target="_blank">Link</a>
  </div>
</section> -->



<!-- <div style="text-align: center;">
  <h1>Inside App component of App module.</h1>


  <button routerLink='./admin'>Admin</button>
  <button routerLink='./student'>Student</button>
</div> -->

<h1>Demo of Inbuilt Pipes</h1>

<h1>{{name}}</h1>
<h1>{{name | lowercase}}</h1>
<h1>{{name | uppercase}}</h1>
<h1>{{name | titlecase}}</h1>
<h1>{{name | slice:8}}</h1>
<h1>{{name | slice:5:9}}</h1>
<h1>{{batches | json}}</h1>
<h1>{{today}}</h1>
<h1>{{today | date:'short'}}</h1>
<h1>{{today | date:'shortDate'}}</h1>
<h1>{{today | date:'shortTime'}}</h1>
<h1>{{no}}</h1>
<h1>{{no | number:'1.2-3'}}</h1>    <!--Number Pipe-->
<h1>{{no | number:'3.4-5'}}</h1>
<h1>{{no | number:'3.1-2'}}</h1>
<h1>{{fees}}</h1>
<h1>{{fees | currency}}</h1>
<h1>{{fees | currency:'INR'}}</h1>
<h1>{{fees | currency:'AED'}}</h1>
<h1>{{fees | currency:'BR'}}</h1>
<h1>{{fees | currency:'LKR'}}</h1>

<!-- Pipe  Added-->
<h1>{{"Marvellous Pune" | demo:"PPA":"Python":"Angular"}}</h1>


